.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #2c2f48;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.header p {
  font-size: 2.5rem;
  margin-left: 30px;
  cursor: pointer;
}

.header__buttons {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.header__btn {
  margin-right: 40px;
  background: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.header__btn b {
  font-weight: bold;
}

.active {
  color: #6791f3;
  font-weight: 700;
}

.cart_btn {
  background-color: #6791f3;
  padding: 10px 20px;
  border-radius: 10px;
}

.cart_btn:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.header__hamburger {
  display: none;
  margin-right: 30px;
  width: 30px;
  height: 14px;
  z-index: 30;
}

.header__hamburger span {
  height: 2px;
  width: 100%;
  display: block;
  background: white;
  margin-bottom: 4px;
  transition: 1s all;
}

.header__hamburger span__last-child {
  margin-bottom: 0px;
}
.header__hamburger_active span {
  margin-bottom: -2px;
}
.header__hamburger_active span:nth-child(1) {
  transform: translateY(3px) rotate(-45deg);
}
.header__hamburger_active span:nth-child(2) {
  display: none;
}
.header__hamburger_active span:nth-child(3) {
  transform: translateY(3px) rotate(45deg);
}

.header__buttons_hamburger {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.nav-menu {
  display: none;
}

@media (max-width: 850px) {
  .header__buttons {
    display: none;
  }
  .header__btn {
    margin-right: 0;
    height: 50px;
    width: 150px;
  }
  .header__hamburger {
    display: block;
  }
  .nav-menu {
    display: block;
    right: -100%;
    transition: 1s all;
    position: fixed;
    top: 0px;
    height: 100%;
    background: #2c2f48ee;
    z-index: 20;
    width: 50%;
  }
  .nav-menu_active {
    right: 0%;
  }
}

@media (max-width: 400px) {
  .nav-menu {
    width: 70%;
    height: 100%;
  }
}
