.products {
  height: 100%;
}

.products__main {
  width: 80%;
  margin: 100px auto;
}

.products__heading {
  width: 100%;
  margin-bottom: 40px;
}

.products__heading h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}

.products__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.editlink {
  width: 100%;
  display: flex;
  justify-content: center;
}
